// @import '../styles/themes.scss';
@import './_variables';

html, app {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  background: #252520;
  // background: nb-theme(background-basic-color-1);
  color: white;
}

text-section, app-reference .text {
  color: white;
  hyphens: auto;
  text-align: justify;
  padding: 7px;
}
.mdi {
  font-size: 24px;
  line-height: 1;
  margin-right: 5px;
}
.alert-success {
  color: #21bf73;
}

.alert-danger {
  color: firebrick;
}


//////
// DEFUALT/PREVIEW
//////
.def-page-cont {
	display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-around;

  .def-pics {
    display: flex;
    justify-content: space-around;

    app-page-picture {
      width: 30%;
    }
  }
  .def-texts {
    display: flex;
    justify-content: space-around;
  }
}


//////
// BUTTONS
//////
.btn-cont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 5px;
}
.btn {
  background: $color-primary;
  padding: 4px;
  color: white;
  cursor: pointer;
  border: 1px solid $background-secondary;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
  background-color: $btn-hover;
}
.btn:active {
  background-color: $btn-active;
}
.btn-raised {
  box-shadow: 0 0px 7px $color-primary;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  // max-height: 50%;
  cursor: pointer;
}
.btn.page-number {
  font-size: 0.9rem;
  padding: 4px;
  border-radius: 4px;
  margin: 0px 8px;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
//////
// DASHBOARD LAYOUT
//////
.dash-layout {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  .middle {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    height: calc(100vh - 4.75rem);

    .sidebar {
      background-color: #222b45;
      box-shadow: 0 .5rem 1rem 0 #1a1f33;
      color: #fff;
      font-family: Open Sans,sans-serif;
      font-size: .9375rem;
      font-weight: 400;
      line-height: 1.25rem;
      padding-top: 10px;
      // width: 20%;
      display: inline-block;

      .menu-item {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-content: flex-start;
        text-decoration: none;
        margin-top: 6px;
        border-bottom: 1px solid black;
        padding: 4px 0px;

        .inner {
          display: flex;
          padding: 0px 6px;
          white-space: nowrap;
        }
        .icon {
          margin-left: 6px;
        }
        > a, > span {
          text-decoration: none;
          font-size: 14px;
          color: white;
        }
      }
    }
    .content {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      margin: 8px;

      .outlet {
        flex: 1;

        form {
          margin-top: 15px;
        }
      }
    }
  }
}

//////
// FORMS
//////
.form {
  background-color: $formBgColor;

  [disabled] {
    cursor: not-allowed;
  }
  .mdi {
    width: 2em;
  }
  h1 {
    font-size: 2.25rem;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
    text-align: center;
  }
  .label {
    color: #8f9bb3;
    // font-family: Open Sans, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
  }
  .status-danger {
    color: $color-danger;
  }
  .forgot-password {
    font-size: 10px;
    margin-left: 5px;
  }
  select, input, textarea, button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid $formElsBorder;
    color: $white;
    background: $formElsBg;
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
    box-sizing: border-box;
  }
  select:focus, input:focus, textarea:focus, button:focus {
    background: $formElsBgFocus;
  }
  select:focus, input:focus, textarea:focus {
    transform: scale(1.02);
  }
  .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
  }
  // button:enabled:hover, .my-form button:focus {
  button:enabled:hover {
    background: var(--bgFormElsFocus);
  }
  button {
    width: 40%;
    cursor: pointer;
  }
  button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }
  button .back {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-100%, -50%);
  }
  // button:enabled:hover .back, button:focus .back {
  button:enabled:hover .back {
    transform: translate(0%, -50%);
  }
  // button:enabled:hover .front, .my-form button:focus .front {
  button:enabled:hover .front {
    transform: translateX(110%);
  }
}
//////
// NAV
//////
nav.nav-header-oth {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: #222b45;
  color: #fff;
  box-shadow: 0 .5rem 1rem 0 #1a1f33;
  height: 4.75rem;
  padding: 0.25em 1.0rem;

  .page-title-cont {
    margin-left: 15px;
    flex: 1;
  }
  img {
    width: 60px;
  }
}

.nav-2 {
  background: none;
}

.dropdown-content {
  display: none;
  flex-flow: column;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  // background-color: rgba(10, 10, 10, 0.56);
  background-color:black;
	border: 1px solid white;
  border-radius: 2px;
  padding: 3px;
}
.dropdown:hover .dropdown-content {display: flex;}

.hamburger {
  outline: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: white;
  outline: none;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: white;
  outline: none;
}

//////
// MISC
//////
h1, h2, h3, h4, h5, .form .label {
  font-family: "Cinzel Decorative", "Roboto", "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
}


.req:after {
  content:" *";
  color: red;
}
.chevron-right::before {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}
.chevron-right.open-right::before {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}
.chevron-left::before {
  transform: rotate(270deg);
  transition: transform 0.2s linear;
}
.chevron-left.open-left::before {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

label.select {
  position:relative;

  select {
    background: black;
    color: white;
    text-align: center;
    border: 1px solid $background-secondary;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px $background-secondary;
    padding: 1px;
    font-size: 17px;
  }
}
label.select:after {
  content: '<>';
  font: 11px "Consolas", monospace;
  color: #aaa;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 4px;
  top: 7px;
  padding: 0 0 2px;
  border-bottom: 1px solid  $background-secondary;
  position: absolute;
  pointer-events: none;
}
label.select:before {
  content: '';
  right: 0px;
  top: 0px;
  width: 17%;
  height: 100%;
  background:  $background-secondary;
  position: absolute;
  pointer-events: none;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
}
a:active, a:focus {
  outline: 0;
  border: none;
  outline-style: none;
  -moz-outline-style: none;
}
.selected {
  background: $color-selected;
}
.act {
  border: 4px solid $color-selected-2;
}
.inact {
  border: 4px solid $color-danger;
}
.item-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.page-numbers {
	display: flex;
	flex-flow: row wrap;
  justify-content: center;

  > button {
    margin: 0px 5px;
  }
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
