<!-- <div>Contact Messages <button (click)="toggle()">Toggle</button></div>
<div class="contact-cont" [@listAnimation]="isCollapsed" *ngIf="isCollapsed">
  <div class="contact" *ngFor="let msg of contactMsgs | async">
    {{msg.message}}
    <div class="name">{{msg.name}}</div>
    <div class="msg">{{msg.message}}</div>
    <div class="email">{{msg.email}}</div>
    <div class="phone">{{msg.phone}}</div>
    <div class="phone">{{msg.createdAt.toDate() | date:'mediumDate'}}</div>
  </div>
</div> -->

<div class="dash-cont" [@dashAnimation]='isCollapsedContact'>
  <span class="dash-title" (click)="toggle('contact')">
    Contact Messages
    <span [ngClass]="{
        'chevron-right': true,
        'mdi': true,
        'mdi-chevron-down': true,
        'open-right': isCollapsedContact
    }"></span>
  </span>
  <ng-container *ngIf='isCollapsedContact && contactMsgs | async as contactMsgs'>
    <!-- <div class="item-cont" [@listAnimation]='contactMsgs.length && !isCollapsedContact'>
        <div class="item" *ngFor='let msg of contactMsgs'>
          <div class="name">{{msg.name}}</div>
          <div class="msg" (click)="showFullMsg()">{{(msg.message.length > 100 && !isShowFullMsg) ? (msg.message | slice:0:100) + '...' : msg.message}}</div>
          <div class="date">{{msg.createdAt.toDate() | date:'mediumDate'}}</div>
          <div class="info">
            <ng-container
              [ngTemplateOutlet]="windowWidth >= 1024 ? bigInfo : smallInfo"
              [ngTemplateOutletContext]="{msg:msg}">
            </ng-container>
          </div>
        </div>
    </div> -->
    <div class="list-cont">
      <div class="list-item" *ngFor='let msg of contactMsgs'>
        <div class="name">{{msg.name}}</div>
        <div class="msg">{{msg.message}}</div>
        <div class="info">
          <span class="phone">{{msg.phone}}</span>
          <span class="email">{{msg.email}}</span>
          <div class="date">{{msg.createdAt.toDate() | date:'mediumDate'}}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="dash-cont" [@dashAnimation]='isCollapsedSignup'>
  <span class="dash-title" (click)="toggle('signup')">
    Signups
    <span [ngClass]="{
        'chevron-right': true,
        'mdi': true,
        'mdi-chevron-down': true,
        'open-right': isCollapsedSignup
      }"></span>
    </span>
  <ng-container *ngIf='isCollapsedSignup && signups | async as signups'>
    <!-- <div class="item-cont" [@listAnimation]='signups.length && !isCollapsedSignup'>
        <div class="item" *ngFor='let msg of signups'>
          <div class="name">{{msg.name}}</div>
          <div class="msg" (click)="showFullMsg()">{{(msg.message.length > 100 && !isShowFullMsg) ? (msg.message | slice:0:100) + '...' : msg.message}}</div>
          <div class="date">{{msg.createdAt.toDate() | date:'mediumDate'}}</div>
          <div class="info">
            <ng-container
              [ngTemplateOutlet]="windowWidth >= 1024 ? bigInfo : smallInfo"
              [ngTemplateOutletContext]="{msg:msg}">
            </ng-container>
          </div>
        </div>
    </div> -->
    <div class="list-cont">
      <div class="list-item" *ngFor='let msg of signups'>
        <div class="name">{{msg.name}}</div>
        <div class="msg">{{msg.message}}</div>
        <div class="info">
          <span class="phone">{{msg.phone}}</span>
          <span class="email">{{msg.email}}</span>
          <div class="date">{{msg.createdAt.toDate() | date:'mediumDate'}}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #smallInfo let-msg='msg'>
  <span class="more-info-txt" *ngIf="!isShowMoreInfo" (click)="showMoreInfo()">more</span>
  <span class="more-info-txt" *ngIf="isShowMoreInfo" (click)="showMoreInfo()">less</span>
  <div class="more-info-cont" *ngIf="isShowMoreInfo">
    <div class="phone">{{msg.phone}}</div>
    <div class="email">{{msg.email}}</div>
  </div>
</ng-template>

<ng-template #bigInfo let-msg='msg'>
  <span class="phone">{{msg.phone}}</span><span class="email">{{msg.email}}</span>
</ng-template>

<!-- <ng-container *ngIf='items | async as itemsFromContainer'>
  <div [@listStagger]='itemsFromContainer.length'>
      <div *ngFor='let item of itemsFromContainer'>{{item}}</div>
  </div>
</ng-container> -->
