

<nav class="nav-2">
  <div class="left">
    <div><ng-container *ngTemplateOutlet="smallNav"></ng-container></div>
  </div>
  <div class="middle">
    <div><a routerLink="/home"><img class="logo" src="/assets/images/logo.svg" /></a></div>
  </div>
  <div class="right">
    <div>
    <a *ngIf="user == null" routerLink="/user/forms/login">Login</a>
    <a *ngIf="user" routerLink="/user/profile"><span class="mdi mdi-account"></span></a>
  </div>
  </div>
</nav>


<ng-template #smallNav>
  <button class="hamburger hamburger--collapse" [class.is-active]="hamburgerDown" type="button" (click)="toggleHamburger()">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <ul
  [ngClass]="{
    'home-small-menu': true,
    'home-small-menu-1': appVersion == 1,
    'home-small-menu-2': appVersion == 2
  }"
  [@listAnimation]="hamburgerDown"
  *ngIf="hamburgerDown">
    <li *ngFor="let item of menuItems">
      <a (click)="mouseEnter(item.title, item.link)">{{item.title}}</a>
      <span [ngClass]="{
        'chevron-right': true,
        'mdi': true,
        'mdi-chevron-down': true,
        'open-right': isLessonsSubShow && item.title.toLowerCase() == 'lessons' || isMusicSubShow && item.title.toLowerCase() == 'music'
      }" *ngIf="item.children"></span>
      <ng-container *ngIf="item.children && isLessonsSubShow && item.title.toLowerCase() == 'lessons' && hamburgerDown">
        <div [@listAnimation]="isLessonsSubShow" class="sub-menu-sm-1">
          <a class="item" *ngFor="let child of item.children" (click)="mouseEnter(child.title, child.link)">{{child.title}}</a>
        </div>
      </ng-container>
      <ng-container *ngIf="item.children && isMusicSubShow && item.title.toLowerCase() == 'music' && hamburgerDown">
        <div [@listAnimation]="isMusicSubShow" class="sub-menu-sm-1">
          <a class="item" *ngFor="let child of item.children" (click)="mouseEnter(child.title, child.link)">{{child.title}}</a>
        </div>
      </ng-container>
    </li>
  </ul>
</ng-template>

