:host {
  width: 100%;
}

nav {
  width: 100%;
  background-color: rgba(10, 10, 10, 0.56);
  font-family: 'Cinzel Decorative';
  color: white;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
  padding: 10px 0px;
  cursor: pointer;

  .left {
    width: 20%;
  }
  .middle {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .right {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;

    > div {
      margin-right: 15px;
    }
  }
  .logo {
    width: 130px;
    outline: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .mdi {
    font-size: 24px;
    width: 27px;
    // color: #a6bfc5;
    color: white;
  }
}



.home-small-menu{
  padding: 22px 13px;
  line-height: 1.4;
  list-style: none;
  border-radius: 5px;
  font-size: 18px;

  a {
    text-decoration: none;
  }
}

.home-small-menu-1 {
  position: absolute;
  top: 66px;
  right: 0px;
  background: black;
}

.home-small-menu-2 {
  position: absolute;
  padding: 6px 13px;
  top: 58px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  margin-top: 32px;

  a {
    color: white;
  }

  .sub-menu-sm-1 {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    left: 115px;
    top: 20px;
    border-left: 1px solid white;
    padding-left: 15px;
    margin-left: 6px;
    background: rgba(0, 0, 0, 0.8);
  }
}
