<ng-template [ngTemplateOutlet]="onSubpage ? sub : par"></ng-template>

<ng-template #sub >
  <router-outlet></router-outlet>
</ng-template>

<ng-template #par>
  <div class="lessons-cont">
    <h1>Program of Studies</h1>
    <div class="text-cont">
      <text-section [shortID]="'lessons1'"></text-section>
      <text-section [shortID]="'lessons2'"></text-section>
    </div>
    <h1>Sign Up</h1>
    <form #lessonsForm="ngForm" class="form" (ngSubmit)="saveMessage(lessonsForm)"  aria-labelledby="title">
      <app-alert></app-alert>
      <div class="form-control-group">
        <label class="label req" for="input-name">Name:</label>
        <input nbInput
              fullWidth
              [(ngModel)]="signup.name"
              #name="ngModel"
              name="name"
              id="input-name"
              placeholder="Name"
              fieldSize="large"
              autofocus
              required="true"
              [attr.aria-invalid]="name.invalid && name.touched ? true : null">
        <!-- <ng-container *ngIf="name.invalid && name.touched">
          <p class="caption status-danger" *ngIf="name.errors?.required">
            Name is required!
          </p>
        </ng-container> -->
      </div>
      <div class="form-control-group">
        <label class="label req" for="input-email">Email address:</label>
        <input nbInput
              fullWidth
              [(ngModel)]="signup.email"
              #email="ngModel"
              name="email"
              id="input-email"
              pattern=".+@.+\..+"
              placeholder="Email address"
              fieldSize="large"
              autofocus
              required="true"
              [attr.aria-invalid]="email.invalid && email.touched ? true : null">
        <!-- <ng-container *ngIf="email.invalid && email.touched">
          <p class="caption status-danger" *ngIf="email.errors?.required">
            Email is required!
          </p>
          <p class="caption status-danger" *ngIf="email.errors?.pattern">
            Email should be real
          </p>
        </ng-container> -->
      </div>
      <div class="form-control-group">
        <label class="label req" for="input-phone">Phone Number:</label>
        <input nbInput
              fullWidth
              [(ngModel)]="signup.phone"
              #phone="ngModel"
              name="phone"
              id="input-phone"
              placeholder="Phone Number"
              fieldSize="large"
              autofocus
              required="true"
              [attr.aria-invalid]="phone.invalid && phone.touched ? true : null">
        <!-- <ng-container *ngIf="phone.invalid && phone.touched">
          <p class="caption status-danger" *ngIf="phone.errors?.required">
            Phone is required!
          </p>
        </ng-container> -->
      </div>
      <div class="form-control-group">
        <label class="label req" for="input-msg">Message:</label>
        <textarea nbInput
              fullWidth
              [(ngModel)]="signup.message"
              #message="ngModel"
              name="message"
              id="input-message"
              placeholder="Message"
              fieldSize="large"
              autofocus
              required="true"
              [attr.aria-invalid]="message.invalid && message.touched ? true : null">
        </textarea>
        <!-- <ng-container *ngIf="message.invalid && message.touched">
          <p class="caption status-danger" *ngIf="message.errors?.required">
            Message is required!
          </p>
        </ng-container> -->
      </div>
      <div class="btn-cont">
          <button class="btn-raised btn-grid" type="submit" [disabled]="!lessonsForm.valid">
            <span class="back mdi mdi-send"></span>
            <span class="front">SUBMIT</span>
          </button>
          <button class="btn-raised btn-grid" type="reset">
            <span class="back mdi mdi-flash"></span>
            <span class="front">RESET</span>
          </button>
        </div>
    </form>
  </div>
</ng-template>
