@import "../../styles/variables";

:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.tag {
	text-align: center;
	font-family: 'Cinzel Decorative';
	font-size: 19px;
	margin-bottom: 10px;
}

.clicky-cont {
	display: flex;
  flex-flow: column;
	align-items: center;
	margin-top: 18%;
  margin-left: 10%;
  // text-align: center;
  width: 300px;
  text-align: center;
}
.clicky {
  border: 1px solid black;
  background: $background-secondary;
  width: 161px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  font-family: 'Cinzel Decorative';
  font-size: 18px;
  // display: block;
}
.clicky:hover {
  background: $btn-hover;
}
.clicky-big {
  display: block;
  margin-top: 16%;
  margin-left: 19%;;
}
.clicky a {
	color: white;
	text-decoration: none;
}

.video-cont {
  display: flex;
  flex-flow: column nowrap;

  video {
    min-width: 1280px;
  }
  .text-sections {
    display:flex;
    flex-flow: row nowrap;
    color: white;
    justify-content: space-evenly;
  }
}

.bg {
  // background-image: url('../../../assets/images/piano_2.jpg');
  // background: url('../../../assets/images/home_piano_3_lg.png') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  .middle {
    flex-grow: 1;
  }
}
.bg-lg {
  // background: url('../../../assets/images/home_piano_3_lg.png') no-repeat center center fixed;
  // background: url('../../../assets/images/home_piano_2.jpg') no-repeat center center fixed;
  background: url('../../../assets/images/home_piano.jpg') no-repeat center center fixed;
  background-size: cover;
}
.bg-sm {
  background: url('../../../assets/images/home_piano.jpg') no-repeat center center fixed;
  background-size: cover;
}
