<!-- Traditional Home -->
<ng-container *ngIf="appVersion == 1">
<div class="video-cont">
  <video
    #videoPlayer
    src="https://www.monarosemusic.com/wp-content/uploads/2019/04/final_5cba1f32c3049800136c1baa_314494.mp4"
    [muted]="true"
    [autoplay]="true">
  </video>
  <!-- <div class="text-sections">
    <text-section shortID="home1"></text-section>
    <text-section shortID="home2"></text-section>
    <text-section shortID="home3"></text-section>
  </div> -->
</div>
</ng-container>

<!-- Full Page Home -->
<ng-container *ngIf="appVersion == 2">
  <div [ngClass]="{
    'bg': true,
    'bg-sm': windowWidth < 480,
    'bg-lg': windowWidth >= 480
  }">
    <header-home></header-home>
    <div class="middle">
      <div class="clicky-cont" [class.clicky-big]="windowWidth >= 520" >
        <div class="tag">
          Teaching Music in a Modern Culture
        </div>
          <a class="clicky" routerLink="/about">
            Learn More
          </a>
      </div>
      <!-- <text-section shortID="home1"></text-section> -->
    </div>
    <footer-home></footer-home>
  </div>
</ng-container>

