<div class="left">
  <app-text-section-edit [shortID]="'all'" [isChangeID]="false"></app-text-section-edit>
</div>
<div class="right">
  <app-page-picture-edit [containerKey]="'all'" [test]="'test'"></app-page-picture-edit>
</div>

