<div class="top">
  <div class="sel-wrapper center">
    <label class="select">
      <select #selectList (change)="filterClicked(selectList.value)">
        <option *ngFor="let fil of filterOptions" [value]="fil" (click)="filterClicked(fil)">{{fil}}</option>
      </select>
    </label>
  </div>
  <!-- FILTER BUTTONS -->
  <!-- <div class="filter-buttons AC" >
    <button
      class="btn"
      [class.active]="filterBy == 'All'"
      (click)="filterClicked('All')" >All
    </button>
    <button
      *ngFor="let fil of filterOptions"
      class="btn"
      [class.active]="filterBy == fil"
      (click)="filterClicked(fil)" >{{fil}}
    </button>
  </div> -->
  <!-- PAGE NUMBERS -->
  <div class="vid-page-numbers">
    <button
      class="btn page-number"
      (click)="currentPage = i - 1"
      *ngFor="let i of ((videosActive | async | imageFilter:filterBy)?.length / pageSize) |timesPipe">
      {{i}}
    </button>
  </div>
</div>
<!-- VIDEOS -->
<div class="bottom">
  <div class="vid-wrapper">
    <div class="vid-item" *ngFor="let item of videosActive | async | imageFilter:filterBy:filterMetadata; let i = index"
    (click)="selectItem(item)"
    [ngStyle]="{display: i >= (currentPage * pageSize) && i < (currentPage * pageSize + 5) ? 'block' : 'none'}">
      <app-video-item
        [videoId]="item.videoId"
        [title]="item.title"
        [caption]="item.caption"
        [tileSize]="'full'">
      </app-video-item>
    </div>
  </div>
</div>

<!-- *ngIf="i >= (currentPage * pageSize) && i < (currentPage * pageSize + 10)" -->
