.filter-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 15px;

  > button {
    margin-right: 15px;
    margin-bottom: 5px;
  }
}

.vid-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  cursor: pointer;
}

.vid-page-numbers {
	display: flex;
	flex-flow: row wrap;
  justify-content: center;
  margin: 10px 0px;
}

.hidden {
  display: none;
}

