<div class="socials" *ngIf="windowWidth > 480">
  <a href="https://www.facebook.com/monarosestudios/" target="_blank"><fa name="facebook-square" class="icon"></fa></a>
  <a href="https://www.instagram.com/monarosestudios/ " target="_blank"><fa name="instagram" class="icon"></fa></a>
  <a href="https://www.youtube.com/user/monamosallaei" target="_blank"><fa name="youtube-play" class="icon"></fa></a>
  <a href="mailto:monarosemusic@gmail.com"><fa name="envelope" class="icon"></fa></a>
</div>

<div class="circle-cont">
  <ng-container *ngIf="windowWidth < 481">
    <menu-circle></menu-circle>
  </ng-container>
</div>
