.socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  font-size: 2rem;

  > a {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0.4rem;
    transition: color ease-out 0.1s;
    color: white;

    &:hover {
      color: nb-theme(text-basic-color);
    }
    > img {
      width: 25px;
    }
  }
}

.mdi-email-outline {
  // border: 2px solid white;
  // border-radius: 5px;
  // padding: 0px 5px;
  font-size: 32px;
}
