// .header {
//   display: flex;
//   flex-flow: row nowrap;

//   .left {
//     flex-grow: 1;
//   }
//   .right {
//     display: flex;

//     div {
//       margin: 2px 5px;
//     }
//   }

// }



.hidden {
  width: 0px;
  margin: 0px;
}
