<div class="table-header">
  <div class="left">Name</div>
  <div class="right">
    <div *ngFor="let role of roles">{{role}}</div>
  </div>
</div>
<div class="table-body">
  <div class="table-row" *ngFor="let user of users$ | async">
    <div class="left">
      <div>{{user.fullName}}</div>
    </div>
    <div class="right">
      <div (click)="changePermission(user, 'guest')">{{user.roles['guest']}}</div>
      <div (click)="changePermission(user, 'student')">{{user.roles['student']}}</div>
      <div (click)="changePermission(user, 'teacher')">{{user.roles['teacher']}}</div>
      <div (click)="changePermission(user, 'admin')">{{user.roles['admin']}}</div>
    </div>
  </div>
</div>
