@import '../../../styles/variables';

.sel-wrapper {
  display: flex;
  justify-content: center;
  margin: 7px 0px;
}

.test {
  width: 15%;
  display: flex;
  flex-flow: column nowrap;

  iframe {
    border: none;
    width: 100%;
    // height: 100%;
  }
}

.frame-wrapper {
	display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: none;

  > .frame {
    display: flex;
    flex-flow: column;

    > iframe {
      width: 120px;
      height: 240px;
      color: black;
      margin: 5px 5px;
      border-radius: 4px;
    }
    > span {
      text-align: center;
      margin:-8px 0px 10px 0px;
    }
  }
}

.wrapper {
	display: flex;
  flex-flow: column nowrap;
  margin: 8px;
  line-height: 1.5;

  .item {
    display: flex;
    flex-flow: row nowrap;

    .title {
      width: 60%;
    }
    > a {
      flex: 1;
      color: white;
    }
  }
}

.item:nth-child(2n+1) {
	background: $background-secondary;
}

