<div class="sel-wrapper">
  <label class="select">
    <select #selectList  (change)="filterClicked(selectList.value)">
      <ng-container *ngFor="let fil of filterOptionsSorted">
        <option *ngIf="fil != 'Classical'"  [value]="fil">{{fil}}</option>
        <option *ngIf="fil == 'Classical'"  [value]="fil" selected>{{fil}}</option>
      </ng-container>
    </select>
  </label>
</div>
<!-- LINKS -->
<div class="wrapper">
  <!-- <div class="item" [@apparateAnimation]="item" *ngFor="let item of profileLinks | async | imageFilter:filterBy:filterMetadata; let i = index">
    <span class="title">{{item.title}}</span>
    <a [href]="item.link" target="_blank"><span class="link">Purchase</span></a>
    <span class="category">{{item.categories}}</span>
    <iframe width="100%" height="300" [src]="item.link | safe"></iframe>
    <span *ngIf="isAdmin" (click)="selectItem(item)">Change</span>
  </div> -->

  <div class="frame-wrapper">
    <ng-container *ngFor="let item of profileLinks | async | imageFilter:filterBy:filterMetadata; let i = index">
      <div class="frame">
        <iframe [@apparateAnimation]="item" width="100%" height="250" [src]="item.link | safe"></iframe>
        <span *ngIf="isAdmin" (click)="selectItem(item)">Change</span>
      </div>
    </ng-container>
  </div>


</div>
