.sel-wrapper {
  text-align: center;
}

.item-wrapper {
  display: flex;
  flex-flow: row wrap;

  // > div {
  //   border: 1px solid
  // gray;
  // border-radius: 5px;
  // padding: 3px;
  // margin: 0 5px;
  // cursor: pointer;
  // }
}

textarea {
  width: 100%;
}

