<!-- FILTER SELECT -->
<div class="sel-wrapper">
  <label class="select">
    <select #selectList (change)="filterClicked(selectList.value)">
      <option *ngFor="let fil of filterOptions" [value]="fil">{{fil}}</option>
    </select>
  </label>
</div>
<!-- <div class="page-numbers">
  <button
  [ngClass]="{
    'btn': true,
    'selected': currentPage == i-1
  }"
  (click)="currentPage = i - 1"
  *ngFor="let i of ((textSections | async)?.length / pageSize) | timesPipe">
    {{i}}
  </button>
</div> -->
<!-- <h3>All Sections</h3> -->
<!-- Observable -->
<!-- <div *ngIf="!isStatic" class="item-wrapper">
  <div *ngFor="let item of textSections | async; let i = index" (click)="setSelectedItem(item)">
    <div *ngIf="i >= (currentPage * pageSize) && i < (currentPage * pageSize + 10)">
      <div [ngClass]="{
        'btn-raised': true,
        'selected': item.shortID == selectedItem?.shortID
      }">
        {{item.shortID}}
      </div>
    </div>
  </div>
</div> -->
<!-- Static -->
<!-- <div *ngIf="isStatic" class="item-wrapper">
  <div class="item" *ngFor="let item of textSectionsStatic; let i = index" (click)="setSelectedItem(item)">
    <div *ngIf="i >= (currentPage * pageSize) && i < (currentPage * pageSize + 10)" class="inner-item">
      Item: {{item.shortID}}
    </div>
  </div>
</div> -->

  <!-- <text-section [key]="ts.key"></text-section> -->

  <!-- SAVE FORM -->
  <form (ngSubmit)="saveItem(itemForm)" #itemForm="ngForm">
      <div *ngIf="isChangeID" class="form-group">
        <label for="shortID">Short ID</label>
        <input type="text" class="form-control" id="shortID" required
          [(ngModel)]="model.shortID" name="shortID"
          #shortID="ngModel"
          [ngClass]="{
            'has-success': shortID.valid,
            'has-danger': !shortID.pristine && !shortID.valid
          }">
        <div [hidden]="shortID.valid || shortID.pristine" class="alert alert-danger">
            Short ID is required
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="html">HTML</label> -->
        <textarea
          id="html"
          #html="ngModel"
          class="form-control"
          rows="10"
          [(ngModel)]="model.html" name="html"
          [ngClass]="{
            'has-success': html.valid,
            'has-danger': !html.pristine && !html.valid
          }"
          required>
          </textarea>
        <div [hidden]="html.valid || html.pristine" class="alert alert-danger">
            HTML is required
        </div>
      </div>
      <div class="btn-cont">
        <button type="submit" class="btn btn-success" [disabled]="!itemForm.form.valid">Save</button>
        <button type="button" class="btn btn-new" (click)="setNewItem()">New</button>
      </div>
    </form>
