<div class="footer">
  <ng-container *ngIf="windowWidth > 1200">
    <div class="cp-right">
      Mona Rose Studios © 2020 | All Rights Reserved
    </div>
    <div class="socials">
      <a href="https://www.facebook.com/monarosestudios/" target="_blank"><fa name="facebook-square" class="icon"></fa></a>
      <a href="https://www.instagram.com/monarosestudios/ " target="_blank"><fa name="instagram" class="icon"></fa></a>
      <a href="https://www.youtube.com/user/monamosallaei" target="_blank"><fa name="youtube-play" class="icon"></fa></a>
      <a href="mailto:monarosemusic@gmail.com"><fa name="envelope" class="icon"></fa></a>
    </div>
    <div class="oth-info">
      <a href="mailto:monarosemusic@gmail.com">monarosemusic@yahoo.com</a><a href="tel:+19495842720">+1-949-584-2720</a>
    </div>
  </ng-container>
  <ng-container *ngIf="windowWidth <= 1200">
    <div class="mini-socials">
      <a href="https://www.facebook.com/monarosestudios/" target="_blank"><fa name="facebook-square" class="icon"></fa></a>
      <a href="https://www.instagram.com/monarosestudios/ " target="_blank"><fa name="instagram" class="icon"></fa></a>
      <a href="https://www.youtube.com/user/monamosallaei" target="_blank"><fa name="youtube-play" class="icon"></fa></a>
      <a href="mailto:monarosemusic@gmail.com"><fa name="envelope" class="icon"></fa></a>
    </div>
  </ng-container>
</div>
