// @import '../../styles//themes.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../../styles/variables';

// @include nb-install-component() {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   .test {
//     background: nb-theme(text-hint-color);
//     color: nb-theme(text-basic-color);
//   }

//   @include media-breakpoint-down(is) {
//     .socials {
//       font-size: 1.5rem;
//     }
//   }
// }

:host {
  background: $background-secondary;
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  // z-index: 3;
  // height: 6%;
  flex: 0 0 auto;

  .mdi {
    color: white;
    font-size: 32px;
  }
}

.mini-socials {
  color:white;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  width: 100%;

  > a {
    color: white;
  }
}


.footer {
  display: flex;
  flex-flow: row nowrap;
  // margin: 0px 3px;

  .cp-right, .oth-info {
    font-size: 0.7rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 28%;
  }
  .oth-info > a {
    text-decoration: none;
    color: white;
  }
  .socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 2rem;
    flex-grow: 1;

    > a {
      margin-left: 50px;
      margin-right: 50px;
      padding: 0.4rem;
      transition: color ease-out 0.1s;
      color: white;

      &:hover {
        color: nb-theme(text-basic-color);
      }
      > img {
        width: 25px;
      }
    }
  }
}


