:host() {
  margin: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.teachers {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 990px;

  .teacher {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: space-around;
    padding: 5px;
    margin-bottom: 25px;

    img {
      max-width: 25%;
      min-width: 150px;;
      float: left;
      margin: 0px 10px;
    }
  }
}
