@import '../../styles/variables';

h1 {
  text-align: center;
}

.pic-1 {
	width: 200px;
	height: 200px;
	display: block;
	float: left;
	margin: 0px 15px 8px 0px;
}

.pic-2 {
	width: 200px;
	height: 200px;
	display: block;
	float: right;
	margin: 0px 0px 8px 15px;
}

.logos {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 25px;

  > img {
    width: 10%;
  }
}
