<!-- <div class="def-page-cont">
  <div class="def-pics">
    <app-page-picture [shortID]="'about1'"></app-page-picture>
    <app-page-picture [shortID]="'about2'"></app-page-picture>
  </div>
  <div class="def-texts">
    <text-section [shortID]="'about1'"></text-section>
    <text-section [shortID]="'about2'"></text-section>
  </div>
</div> -->



<h1>Mona Rose Studios</h1>
<div class="container">
  <!-- <app-page-picture class="pic-1" [shortID]="'about1'"></app-page-picture> -->
  <text-section [shortID]="'about1'"></text-section>
</div>
<div class="container">
  <app-page-picture class="pic-2" [shortID]="'about2'"></app-page-picture>
  <text-section [shortID]="'about2'"></text-section>
</div>
<!-- <div class="logos">
  <img src='../../../assets/logos/logo_lessons_2020.png' />
  <img src='../../../assets/logos/logo_merit.png' />
  <img src='../../../assets/logos/logo_uci.png' />
</div> -->
