<div class="cont" style="background-size: cover;" [style.background-image]="'url(' + actPic?.imgUrl + ')'">
  <!-- <img *ngIf="actPic; else inAct" [src]="actPic.imgUrl" /> -->
  <ng-template #inAct>Picture missing</ng-template>
</div>

