<!-- <ng-container *ngIf="appVersion == 1"> -->
  <nav class="nav-header-oth" (mouseleave)="mouseLeave()">
    <div class="left">
      <a routerLink="/home"><img class="logo" src="/assets/images/logo.svg" /></a>
    </div>
    <div class="right" *ngIf="windowWidth > 480; else smallNav">
        <div *ngFor="let item of menuItems" (mouseenter)="mouseEnter(item.title)"
        [ngClass]="{'has-submenu': item.title.toLowerCase() == 'music' || item.title.toLowerCase() == 'lessons'}">
          <a *ngIf="item.link.toLowerCase() != 'lessons' && item.link.toLowerCase() != 'music'" routerLink="/{{item.link}}" (click)="mouseLeave()">{{item.title}}</a>
          <a *ngIf="item.link.toLowerCase() == 'lessons' || item.link.toLowerCase() == 'music'" (click)="mouseLeave()">{{item.title}}</a>
          <span [ngClass]="{
            'chevron-right': true,
            'mdi': true,
            'mdi-chevron-down': true,
            'open-right': isLessonsSubShow && item.title.toLowerCase() == 'lessons' || isMusicSubShow && item.title.toLowerCase() == 'music'
          }" *ngIf="item.children"></span>
          <ng-container *ngIf="item.children && isLessonsSubShow && item.title.toLowerCase() == 'lessons'">
              <div [@listAnimation]="isLessonsSubShow" class="sub-menu-lg-2">
              <a class="item" routerLink="/{{child.link}}" *ngFor="let child of item.children" (click)="mouseLeave()">{{child.title}}</a>
            </div>
          </ng-container>
          <ng-container *ngIf="item.children && isMusicSubShow && item.title.toLowerCase() == 'music'">
            <div [@listAnimation]="isMusicSubShow" class="sub-menu-lg-2">
              <a class="item" routerLink="/{{child.link}}" *ngFor="let child of item.children" (click)="mouseLeave()">{{child.title}}</a>
            </div>
          </ng-container>
        </div>
        <div>
          <a *ngIf="user == null" routerLink="/user/forms/login" (mouseenter)="mouseLeave()">Login</a>
          <a *ngIf="user" routerLink="/user/profile" (mouseenter)="mouseLeave()"><span class="mdi mdi-account"></span></a>
        </div>
    </div>
  </nav>
<!-- </ng-container> -->

<!-- <ng-container *ngIf="appVersion == 2">
<nav class="nav-2">
  <div class="left">
    <ng-container *ngTemplateOutlet="smallNav"></ng-container>
  </div>
  <div class="middle">
    <a routerLink="/home"><img class="logo" src="/assets/images/logo.svg" /></a>
  </div>
  <div class="right">
    <a *ngIf="user == null" routerLink="/user/forms/login">Login</a>
    <a *ngIf="user" routerLink="/user/profile"><nb-icon icon="person-outline"></nb-icon></a>
  </div>
</nav>
</ng-container> -->


<ng-template #smallNav>
  <button class="hamburger hamburger--collapse" [class.is-active]="hamburgerDown" type="button" (click)="toggleHamburger()">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <ul
  [ngClass]="{
    'front-small-menu': true,
    'front-small-menu-1': appVersion == 1,
    'front-small-menu-2': appVersion == 2
  }"
  [@listAnimation]="hamburgerDown"
  *ngIf="hamburgerDown">
    <li *ngFor="let item of menuItems">
      <a (click)="mouseEnter(item.title, item.link)">{{item.title}}</a>
      <span [ngClass]="{
        'chevron-right': true,
        'mdi': true,
        'mdi-chevron-down': true,
        'open-right': isLessonsSubShow && item.title.toLowerCase() == 'lessons' || isMusicSubShow && item.title.toLowerCase() == 'music'
      }" *ngIf="item.children"></span>
      <ng-container *ngIf="item.children && isLessonsSubShow && item.title.toLowerCase() == 'lessons' && hamburgerDown">
        <div [@listAnimation]="isLessonsSubShow" class="sub-menu-sm-1">
          <a class="item" *ngFor="let child of item.children" (click)="mouseEnter(child.title, child.link)">{{child.title}}</a>
        </div>
      </ng-container>
      <ng-container *ngIf="item.children && isMusicSubShow && item.title.toLowerCase() == 'music' && hamburgerDown">
        <div [@listAnimation]="isMusicSubShow" class="sub-menu-sm-1">
          <a class="item" *ngFor="let child of item.children" (click)="mouseEnter(child.title, child.link)">{{child.title}}</a>
        </div>
      </ng-container>
    </li>
    <li><a *ngIf="user == null" routerLink="/user/forms/login" (mouseenter)="mouseLeave()">Login</a></li>
    <li><a *ngIf="user" routerLink="/user/profile" (mouseenter)="mouseLeave()">Profile</a></li>
  </ul>
</ng-template>

