@import '../../styles/variables';

:host {
  // width: 100%;
  // position: fixed;
  // top: 0;
  // z-index: 3;
  // background: $background-primary;
  // height: 10%;
  flex: 0 0 auto;
}

.has-submenu {
  margin-right: 5px !important;
}

nav {
  width: 100%;
  background-color: rgba(10, 10, 10, 0.56);
  font-family: 'Cinzel Decorative';
  color: white;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
  padding: 10px 0px;
  cursor: pointer;

  .left {
    margin-left: 8px;
  }
  .right {
    display:flex;
    align-items: baseline;

    > div {
      margin-right: 15px;
    }
  }
  .logo {
    width: 100px;
    cursor: pointer;
    outline: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .mdi {
    font-size: 24px;
    width: 27px;
    // color: #a6bfc5;
    color: white;
  }
}

.sub-menu-lg-1 {
  position: absolute;
  top: 60px;
  right: 100px;
	padding: 10px 5px 3px 5px;
	box-shadow: 2px 3px 2px 1px $background-secondary;
  margin-top: 5px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 3;
  background: $background-secondary;
  border-radius: 5px;
}
.sub-menu-lg-2 {
	position: absolute;
	right: 5px;
  top: 70px;

  > a {
    margin-right: 10px;
  }
}
.sub-menu-sm-1 {
	position: absolute;
	right: 121px;
	display: flex;
	flex-flow: column wrap;
	background: $background-secondary;
	padding: 8px;
  top: 0px;
  padding: 10px 5px 3px 5px;
  box-shadow: 2px 3px 2px 1px $background-secondary;
  border-radius: 5px;
}

.front-small-menu {
  padding: 22px 13px;
  line-height: 1.4;
  list-style: none;
  border-radius: 5px;
  font-size: 18px;

  a {
    text-decoration: none;
  }
}

.front-small-menu-1 {
  position: absolute;
  top: 66px;
  right: 0px;
  background: black;
}

.front-small-menu-2 {
  position: absolute;
  padding: 6px 13px;
  top: 74px;
  right: 0px;
  // background: rgba(161, 100, 51, .1);
  z-index: 3;
  background: $background-primary;

  a {
    color: white;
  }
}
