<nav class="nav-header-oth">
  <!-- <div class="left">
    <a routerLink="/"><img src="/assets/images/logo_rose.svg" /></a>
  </div> -->
  <div class="toggle-cont">
    <span class="mdi mdi-menu sidebar-toggle" (click)="toggleSidebar()"></span>
  </div>
  <div class="page-title-cont">
    {{title}}
  </div>
  <div class="right">
    <span *ngIf="user$ | async; let user">{{user.fullName.length > 16 ? (user.fullName | slice:0:16) + '...' : user.fullName}}</span>
  </div>
</nav>
