.lessons-cont {
  margin: 0 auto;
  width: 85%;

  app-alert {
    text-align: center;
  }

  h1 {
    text-align: center;
    color: white;
    // background: rgba(0, 0, 0, .5);
    // box-shadow: 4px 12px 3px 16px rgba(0, 0, 0, 0.5);
  }

  form {
    padding: 5px;
    border-radius: 5px;

    textarea {
      max-width: 100%;
    }
  }
}
