<div class="admin-videos">
  <app-video-list (onItemSelect)="setSelectedItem($event)"></app-video-list>
</div>

  <!-- Select Video to Edit -->
  <!-- <div class="videos-cont">
    <div class="item-select-container">
      <button class="new-btn btn btn-info mB15" (click)="setNewItem()">New</button>
        <div class="vid-wrapper">
          <div class="vid-item" *ngFor="let item of items | async | imageFilter:filterBy:filterMetadata; let i = index">
            <app-video-item
              *ngIf="i >= (currentPage * pageSize) && i < (currentPage * pageSize + 10)"
              [videoId]="item.videoId"
              [title]="item.title"
              [caption]="item.caption"
              [tileSize]="'small'"
              (click)="setSelectedItem(item)">
            </app-video-item>
          </div>
        </div>
    </div>
  </div> -->
  <div class="new-item-cont">
  <!-- Video Picture -->
  <!-- <div class="item">
    <img *ngIf="selectedItem" #imgItemSelected [src]="selectedItem.imgUrl" />
  </div> -->
  <!-- SAVE FORM -->
  <form class="form" (ngSubmit)="saveItem(itemForm)" #itemForm="ngForm">
    <div class="form-group">
      <label for="videoId">Youtube Link/Video ID</label>
      <input type="text" class="form-control" id="videoId" required
        [(ngModel)]="model.videoId" name="videoId"
        #videoId="ngModel"
        [ngClass]="{
          'has-success': videoId.valid,
          'has-danger': !videoId.pristine && !videoId.valid
        }">
      <div [hidden]="videoId.valid || videoId.pristine" class="alert alert-danger">
          Video ID is required
      </div>
    </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required
          [(ngModel)]="model.title" name="title"
          #title="ngModel"
          [ngClass]="{
            'has-success': title.valid,
            'has-danger': !title.pristine && !title.valid
          }">
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Title is required
        </div>
      </div>
      <div class="form-group">
        <label for="caption">Caption</label>
        <input type="text" class="form-control" id="caption"
          [(ngModel)]="model.caption" name="caption"
          #caption="ngModel"
          [ngClass]="{
            'has-success': caption.valid,
            'has-danger': !caption.pristine && !caption.valid
          }">
        <div [hidden]="caption.valid || caption.pristine" class="alert alert-danger">
          Caption is required
        </div>
      </div>
      <div class="form-group">
        <label for="categories">Categories</label>
        <input type="text" class="form-control" id="categories" required
          [(ngModel)]="model.categories" name="categories"
          #categories="ngModel"
          [ngClass]="{
            'has-success': categories.valid,
            'has-danger': !categories.pristine && !categories.valid
          }">
          <div [hidden]="categories.valid || categories.pristine" class="alert alert-danger">
            Categories is required
        </div>
      </div>
      <div class="form-group">
        <label for="isActive">Active</label>
        <input [checked]="model.isActive"
        [(ngModel)]="model.isActive"
        [ngModelOptions]="{standalone: true}"
        type="checkbox"
        name="isActive"
        id="isActive"
        #isActive>
      </div>
      <div class="btn-cont">
        <button class="btn-raised btn-grid" type="submit" [disabled]="!itemForm.valid">
          <span class="back"><mat-icon aria-hidden="false" aria-label="Example home icon">back</mat-icon></span>
          <span class="front">SUBMIT</span>
        </button>
        <button class="btn-raised btn-grid" type="reset" (click)="resetForm()">
          <span class="mid mdi flash back"></span>
          <span class="front">NEW</span>
        </button>
      </div>
    </form>
  </div>






