<div class="p-links">
  <app-profile-link-list [isAdmin]="true" (onItemSelect)="setSelectedItem($event)"></app-profile-link-list>
</div>

<form class="form" (ngSubmit)="saveItem(itemForm)" #itemForm="ngForm">
  <!-- <div class="form-group">
    <label for="link">Link</label>
    <input type="text" class="form-control" id="link" required
      [(ngModel)]="model.link" name="link"
      #link="ngModel"
      [ngClass]="{
        'has-success': link.valid,
        'has-danger': !link.pristine && !link.valid
      }">
    <div [hidden]="link.valid || link.pristine" class="alert alert-danger">
        Link is required
    </div>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" required
      [(ngModel)]="model.title" name="title"
      #title="ngModel"
      [ngClass]="{
        'has-success': title.valid,
        'has-danger': !title.pristine && !title.valid
      }">
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        Title is required
    </div>
  </div> -->
  <div class="form-group">
    <label for="link">Iframe</label>
    <input type="text" class="form-control" id="link" required
      [(ngModel)]="model.link" name="link"
      #link="ngModel"
      [ngClass]="{
        'has-success': link.valid,
        'has-danger': !link.pristine && !link.valid
      }">
    <div [hidden]="link.valid || link.pristine" class="alert alert-danger">
        Link is required
    </div>
  </div>
  <div class="form-group">
    <label for="categories">Category</label>
    <input type="text" class="form-control" id="categories" required
      [(ngModel)]="model.categories" name="categories"
      #categories="ngModel"
      [ngClass]="{
        'has-success': categories.valid,
        'has-danger': !categories.pristine && !categories.valid
      }">
    <div [hidden]="categories.valid || categories.pristine" class="alert alert-danger">
      Category is required
    </div>
  </div>
  <div class="btn-cont">
    <button class="btn-raised btn-grid" type="submit" [disabled]="!itemForm.valid">
      <fa name="paper-plane" class="back"></fa>
      <span class="front">SUBMIT</span>
    </button>
    <button class="btn-raised btn-grid" type="button" *ngIf="selectedItem != null" (click)="deleteItem(itemForm)">
      <fa name="bolt" class="back"></fa>
      <span class="front">DELETE</span>
    </button>
    <button class="btn-raised btn-grid" type="button" (click)="resetForm(itemForm)">
      <fa name="bolt" class="back"></fa>
      <span class="front">NEW</span>
    </button>
  </div>
</form>
