<!-- <div class="page-numbers">
  <button
    [ngClass]="{
      'btn': true,
      'selected': currentPagePics == i-1
    }"
    (click)="currentPagePics = i - 1"
    *ngFor="let i of ((items | async)?.length / pageSize) | timesPipe">
    {{i}}
  </button>
</div> -->

<div class="teachers">
  <div class="teacher" *ngFor="let teacher of teachers | async" (click)="setSelectedItem(teacher)">
    <img src='{{teacher.imgUrl}}' />
    {{teacher.name}}
  </div>
</div>

<div *ngIf="currentUpload" class="AC">
  <div class="progress">
    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
  </div>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>

<div class="new">
  <input #fileUpload type="file" (change)="detectFiles($event)">
  <!-- <img *ngIf="selectedItem" #imgItemSelected [src]="selectedItem.imgUrl" /> -->
</div>

<!-- SAVE FORM -->
<form class="form" (ngSubmit)="saveItem()" #itemForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required
      [(ngModel)]="modelTeacher.name" name="name"
      #name="ngModel"
      [ngClass]="{
        'has-success': name.valid,
        'has-danger': !name.pristine && !name.valid
      }">
    <!-- <div [hidden]="link.valid || link.pristine" class="alert alert-danger">
        Link is required
    </div> -->
  </div>
  <div class="form-group">
    <label for="summary">Summary</label>
    <textarea class="form-control" id="summary" required
      [(ngModel)]="modelTeacher.summary" name="summary"
      #summary="ngModel"
      [ngClass]="{
        'has-success': summary.valid,
        'has-danger': !summary.pristine && !summary.valid
      }">
      </textarea>
    <!-- <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
        Message is required
    </div> -->
  </div>
  <div class="btn-cont">
    <button class="btn-raised btn-grid" type="submit" [disabled]="!itemForm.valid">
      <fa name="paper-plane" class="back"></fa>
      <span class="front">SUBMIT</span>
    </button>
    <button class="btn-raised btn-grid" type="button" *ngIf="selectedTeacher != null" (click)="deleteItem(itemForm)">
      <fa name="bolt" class="back"></fa>
      <span class="front">DELETE</span>
    </button>
    <button class="btn-raised btn-grid" type="button" (click)="setNewItem()">
      <fa name="bolt" class="back"></fa>
      <span class="front">NEW</span>
    </button>
  </div>
</form>
