.teachers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .teacher {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 33%;

    img {
      max-width: 15%;
    }
  }
}

