<h2>Switch Website Version</h2>
<div class="version-swtich">
  <input type="number" [value]="curAppVersion" (change)="changeVersion($event.target.value)">
</div>

<h2>Allow Creating New Sections</h2>
<div class="creator">
  <input type="checkbox" [checked]="isCreate" (change)="changeIsCreate($event.target.checked)">
</div>
