@import '../../../styles/variables';

:host() {
	display: flex;
	flex-flow: column nowrap;
	// border: 1px solid $color-primary;
	border-radius: 5px;
	padding: 15px;
	margin: 0px 5px;
  box-shadow: 2px 2px 4px 2px $background-blur;
  cursor: pointer;

  .text {
    margin-bottom: 7px;
    flex: 1;
    font-family: Raleway,sans-serif,Arial !important;
    font-style: italic;
    line-height: 1.4;
  }
  .bot {
    font-weight: bold;
  }
}
