.def-page-cont {
  height: auto;
}

.contact-cont {
  margin: 0 auto;
  width: 85%;

  form {
    padding: 5px;
    border-radius: 5px;

    textarea {
      max-width: 100%;
    }
  }
}

h1 {
  text-align: center;
}
