<div class="cont-key">{{shortID}}</div>
<div class="pic-cont" *ngFor="let pagePic of pagePics">
  cont-component|page-pic: {{pagePic.key}}
  <!-- <app-page-picture-edit [key]="pagePic.key"></app-page-picture-edit> -->
</div>
