
 <div class="container">
  <div class="filter-buttons AC" >
      <button 
      class="btn btn-lg btn-info" 
      [class.active]="filterBy == 'All'" 
      style="margin-right:15px;"
      (click)="filterClicked('All')" >All
      </button>
      <button 
      *ngFor="let fil of filterOptions" 
      class="btn btn-lg btn-info" 
      [class.active]="filterBy == fil" 
      style="margin-right:15px;"
      (click)="filterClicked(fil)" >{{fil}}
      </button>
  </div>
  <div class="gal-page-numbers AC">
  <button 
      class="btn"
      [ngClass]="{'active': currentPage === i-1}"
      (click)="currentPage = i - 1" 
      *ngFor="let i of ((loadedImagesTest | async | imageFilter:filterBy)?.length / pageSize) | timesPipe">
      {{i}}
  </button>
  </div>
  <div style="display:flex; flex-wrap: wrap; justify-content: center;">
      <div  *ngFor="let img of loadedImagesTest | async | imageFilter:filterBy; let i = index">
      <div 
          *ngIf="i >= (currentPage * pageSize) && i < (currentPage * pageSize + pageSize)"
          class="gallery-img">
          <img appLazyLoad [src]="img.imgUrl" (load)="img.loaded = true;" (click)="setSelectedItem(img)" [hidden]="!img.loaded" />
          <img src="../../../../../assets/img/placeholder.png" [hidden]="img.loaded">
      </div>
      </div>
  </div>
</div>
  