<!-- <nb-layout windowMode>
  <nb-layout-header fixed>
    <header-admin [title]="title"></header-admin>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <footer-admin></footer-admin>
  </nb-layout-footer>
</nb-layout> -->

<!-- <ngx-one-column-layout>
  <nb-menu [items]="menu"></nb-menu>
  <router-outlet></router-outlet>
</ngx-one-column-layout> -->

<div class="dash-layout">
  <header-admin [title]="title"></header-admin>
  <div class="middle">
    <div *ngIf="getSidebarToggleStatus()" [ngClass]="{
      'sidebar': true,
      'sidebar-large': isSidebarLarge,
      'sidebar-medium': isSidebarMedium,
      'sidebar-none': isSidebarNone
    }">
      <div class="menu-item" *ngFor="let item of menu">
        <a class="inner" routerLink="{{item.link}}">
          <div class="icon" ><div class="mdi mdi-{{item.icon}}"></div></div>
          <!-- <fa name="{{item.icon}}" class="icon"></fa> --> <!-- note... not all icons -->
          <div *ngIf="!isSidebarMedium && !isSidebarNone"><div class="title">{{item.title}}</div></div>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="outlet"><router-outlet></router-outlet></div>
      <footer-admin></footer-admin>
    </div>
  </div>
</div>
