@import "../styles/variables";

::ng-deep router-outlet + * {
  animation: fade 2.5s;

  router-outlet + * {
    animation: fade 2.5s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

::ng-deep .form {
  margin-top: 5px;
}

.isSidebarNone {
  display: none;
}
.isSidebarMedium {
  width: 10%;
}
.isSidebarLarge {
  width: 15%;
}


:host {
  width: 100%;
}

// TABLES
::ng-deep {

  .table-body, .table-header {
    display: flex;

    .left {
      flex-grow: 1;
    }
    .right {
      display: flex;
      align-items: center;

      div {
        margin: 2px 5px;
        width: 74px;
        text-align: right;
      }
    }
  }

  .table-header {
    flex-flow: row nowrap;
    box-shadow: 0px 2px 0px 0px black;
    margin-bottom: 8px;
  }
  .table-body {
    flex-flow: column nowrap;

    .table-row {
      display: flex;
      padding: 5px;
    }
    .table-row:nth-child(2n+1){
      background: $background-secondary;
    }
  }
}
