:host {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;

  .item-wrapper {
    display: flex;
    flex-flow: row nowrap;

    > div {
      border: 1px solid
    gray;
    border-radius: 5px;
    padding: 3px;
    margin: 0 5px;
    cursor: pointer;
    }
  }
}

app-text-section-edit {
  width: 100%;
}
