<!-- Forms -->
<div class="card">
  <div class="header">
    <a class="back" (click)="back()"><span class="mdi mdi-arrow-left"></span></a>
  </div>
  <div class="body">
    <!-- Alerts -->
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <section *ngIf="isRegister" class="another-action" aria-label="Sign in">
      Already have an account? &nbsp;<a class="text-link" routerLink="/user/forms/login">Log in</a>
    </section>
    <section *ngIf="!isRegister" class="another-action" aria-label="Register">
        Don't have an account? &nbsp;<a class="text-link" routerLink="/user/forms/register">Register</a>
      </section>
  </div>
</div>
