@import '../../../styles/variables';

.top {
	display: flex;
  flex-flow: row nowrap;

  .left {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .right {
    width: 50%;
  }
}
