@import '../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

::ng-deep router-outlet + * {
  animation: fade 1.3745s;

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

::ng-deep text-section, ::ng-deep app-reference, ::ng-deep .video-cont .title, ::ng-deep .shadow-bg  {
	color: white;
	background: rgba(0, 0, 0, .5);
	display: list-item;
  list-style: none;
  box-shadow: 1px -5px 2px 2px rgba(0,0,0,.5);
}

.c-middle.home-middle {
  max-width: 100%;
}
.c-middle.oth-middle {
  max-width: 1280px;
  margin: 3px;
}
.content-oth {
  margin: 5px;
}
.content {
  // flex: 1;
  display: flex;
  // flex-flow: row nowrap;
  // width: 100%;
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  justify-content: center;


  .bg-image {
    background-image: url('../../assets/images/piano_rose.jpg');
    filter: blur(10px);
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .c-middle {
    width: 100%;
    z-index: 2;
  }

  // .c-left, .c-right {
  //   width: 1%;
  //   background: $background-secondary;
  //   z-index: 1;
  // }
  // .c-left {
  //   box-shadow: 1px 1px 4px 0px $background-blur;
  // }
  // .c-right {
  //   box-shadow: -1px 1px 4px 0px $background-blur;
  // }
  // .c-middle.oth-middle {
  //   width: 98%;
  // }
  // .c-middle.home-middle {
  //   width: 100%;
  // }

}

