<!-- Standard -->
<!-- <ng-container *ngIf="appVersion == 1"> -->
  <header-front *ngIf="!isHome"></header-front>
  <div lang="en" [ngClass]="{
    'content': true,
    'content-home': isHome,
    'content-oth': !isHome
  }">
    <div class="bg-image" *ngIf="!isHome"></div>
    <!-- <div class="c-left" *ngIf="!isHome"></div> -->
    <div class="c-middle" [class.home-middle]="isHome" [class.oth-middle]="!isHome">
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="c-right" *ngIf="!isHome"></div> -->
  </div>
  <footer-front *ngIf="!isHome"></footer-front>
<!-- </ng-container>


<ng-container *ngIf="appVersion == 2">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</ng-container> -->
