<div id="circularMenu1" class="circular-menu circular-menu-left">

  <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
    <i class="fa fa-link"></i>
  </a>

  <menu class="items-wrapper">
    <a href="https://www.facebook.com/monarosestudios/" target="_blank" class="menu-item fa fa-facebook-square"></a>
    <a href="https://www.instagram.com/monarosestudios/ " target="_blank" class="menu-item fa fa-instagram"></a>
    <a href="https://www.youtube.com/user/monamosallaei" target="_blank" class="menu-item fa fa-youtube-play"></a>
    <a href="mailto:monarosemusic@gmail.com" class="menu-item fa fa-envelope"></a>
  </menu>

</div>


<!-- <a href="https://www.facebook.com/monarosestudios/" target="_blank"><fa name="facebook-square" class="icon"></fa></a>
  <a href="https://www.instagram.com/monarosemusic/" target="_blank"><fa name="instagram" class="icon"></fa></a>
  <a href="https://www.youtube.com/user/monamosallaei" target="_blank"><fa name="youtube-play" class="icon"></fa></a>
  <a href="mailto:monarosemusic@gmail.com"><fa name="envelope" class="icon"></fa></a> -->
