<div class="video-cont">
  <youtube-player
        [videoId]="videoId"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)">
  </youtube-player>
  <div class='title'>{{(title.length > 33) ? (title | slice:0:33) + '...' : (title)}}</div>
  <div class='caption' [hidden]="tileSize === 'small'">{{caption}}</div>
</div>
