<div class="refs">
    <app-reference [ref]="ref" [hideText]="true" *ngFor="let ref of items | async" (click)="setSelectedItem(ref)"></app-reference>
</div>

<form class="form" (ngSubmit)="saveItem(itemForm)" #itemForm="ngForm">
  <div class="form-group">
    <label for="message">Reference Message</label>
    <textarea class="form-control" id="message" required
      [(ngModel)]="model.message" name="message"
      #message="ngModel"
      [ngClass]="{
        'has-success': message.valid,
        'has-danger': !message.pristine && !message.valid
      }">
      </textarea>
    <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
        Message is required
    </div>
  </div>
    <div class="form-group">
      <label for="person">Person</label>
      <input type="text" class="form-control" id="person" required
        [(ngModel)]="model.person" name="person"
        #person="ngModel"
        [ngClass]="{
          'has-success': person.valid,
          'has-danger': !person.pristine && !person.valid
        }">
      <div [hidden]="person.valid || person.pristine" class="alert alert-danger">
          Person is required
      </div>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location"
        [(ngModel)]="model.location" name="location"
        #location="ngModel"
        [ngClass]="{
          'has-success': location.valid,
          'has-danger': !location.pristine && !location.valid
        }">
      <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
        Location is required
      </div>
    </div>
    <div class="btn-cont">
      <button class="btn-raised btn-grid" type="submit" [disabled]="!itemForm.valid">
        <span class="back"><mat-icon aria-hidden="false" aria-label="Example home icon">back</mat-icon></span>
        <span class="front">SUBMIT</span>
      </button>
      <button class="btn-raised btn-grid" type="reset" (click)="resetForm()">
        <span class="mid mdi flash back"></span>
        <span class="front">NEW</span>
      </button>
    </div>
  </form>
