<!-- <div class="page-numbers">
  <button
    class="btn"
    (click)="currentPage = i - 1"
    *ngFor="let i of ((items | async)?.length / pageSize) | timesPipe">
    {{i}}
  </button>
</div> -->
<!--
<div *ngIf="items">
  <div *ngFor="let item of items | async">
    {{item}}
  </div>
</div> -->
