@import '../../../styles/_variables';

.sel-wrapper {
  text-align: center;
}

.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  > div {
    width: 20%;

    > img {
      max-width: 100%;
      max-height: 50%;
    }
  }
}
.page-pic-conts-cont {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


