<!-- FILTER SELECT -->
<div class="sel-wrapper">
  <label class="select">
    <select #selectList (change)="filterClicked(selectList.value)">
      <option *ngFor="let fil of filterOptions" [value]="fil.key">{{fil.disp}}</option>
    </select>
  </label>
</div>

<!-- SAVE FORM -->
<form *ngIf="isChangeID" (ngSubmit)="saveNewID(itemForm)" #itemForm="ngForm">
  <div  class="form-group">
    <label for="shortID">Short ID</label>
    <input type="text" class="form-control" id="shortID" required
      [(ngModel)]="modelPagePicCont.shortID" name="shortID"
      #shortID="ngModel"
      [ngClass]="{
        'has-success': shortID.valid,
        'has-danger': !shortID.pristine && !shortID.valid
      }">
    <div [hidden]="shortID.valid || shortID.pristine" class="alert alert-danger">
        Short ID is required
    </div>
  </div>
  <div class="btn-cont">
    <button type="submit" class="btn btn-success" [disabled]="!itemForm.form.valid">Save</button>
    <button type="button" class="btn btn-new" (click)="setNewItem()">New</button>
  </div>
</form>

<!-- <div class="page-numbers">
  <button
  [ngClass]="{
    'btn': true,
    'selected': currentPageConts == i-1
  }"
  (click)="currentPageConts = i - 1"
  *ngFor="let i of ((conts | async)?.length / pageSize) | timesPipe">
    {{i}}
  </button>
</div> -->
<!-- <h3>All Pictures</h3> -->

<!-- <div class="page-pic-conts-cont" *ngIf="conts">
  <div
  [ngClass]="{
    'page-pic-cont': true,
    'btn-raised': true,
    'selected': cont.shortID == selectedItem?.shortID
  }"
  *ngFor="let cont of conts | async"
  (click)="setPagePics(cont)">
    {{cont.shortID}}
  </div>
</div> -->

<div class="page-numbers">
  <button
    [ngClass]="{
      'btn': true,
      'selected': currentPagePics == i-1
    }"
    (click)="currentPagePics = i - 1"
    *ngFor="let i of ((items | async)?.length / pageSize) | timesPipe">
    {{i}}
  </button>
</div>
<div *ngIf="currentUpload" class="AC">
  <div class="progress">
    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
  </div>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>

<div class="new">
  <input #fileUpload type="file" (change)="detectFiles($event)">
  <!-- <img *ngIf="selectedItem" #imgItemSelected [src]="selectedItem.imgUrl" /> -->
</div>
<div class="items" *ngIf="items; else noItems">
  <div *ngFor="let item of items | async" (click)="setSelectedItem(item)">
    <img #imgItemSelected [src]="item.imgUrl" [ngClass]="item.isActive ? 'act': 'inact'"  />
  </div>
</div>
<div class="section-save btn-cont" *ngIf="items">
  <button class="btn" (click)="saveItem()">Save</button>
  <button class="btn" (click)="deleteItem()">Delete</button>
</div>

<ng-template #noItems>
  No Page Pictures yet, upload one
</ng-template>


