<form class="form" (ngSubmit)="saveNewNote(itemForm)" #itemForm="ngForm">
  <div class="form-group">
    <label class="label req" for="newNote">Note</label>
    <textarea name="newNote" [(ngModel)]="newNote" required></textarea>
  </div>
  <div class="btn-cont">
    <button class="btn-raised btn-grid" type="submit" [disabled]="!itemForm.valid">
      <fa name="paper-plane" class="back"></fa>
      <span class="front">SUBMIT</span>
    </button>
    <button class="btn-raised btn-grid" type="reset" (click)="resetForm(itemForm)">
      <fa name="bolt" class="back"></fa>
      <span class="front">NEW</span>
    </button>
  </div>
</form>

<div class="sel-wrapper center">
  <label class="select">
    <select #selectList (change)="filterClicked(selectList.value)">
      <option *ngFor="let fil of filterOptions" [value]="fil">{{fil}}</option>
    </select>
  </label>
</div>

<div class="table-header">
  <div class="left">Note</div>
  <div class="right">
    <!-- <div>Read</div> -->
    <!-- <div>Finished</div> -->
  </div>
</div>
<div class="table-body">
  <div class="table-row hidden" *ngFor="let note of notes$ | async"
  [ngClass]="{'shown': getShown(note),
  'hidden': getHidden(note)}">
    <div class="left">
      <div>{{note.message}}</div>
      <ng-container *ngIf="note?.replies?.length > 0">
        <div *ngFor="let reply of note.replies">
          <div>{{reply.message}}</div>
        </div>
      </ng-container>
    </div>
    <div class="right">
      <!-- <div><input type="checkbox" [checked]="note.isRead" class="is-read" (change)="changeIsRead(note, $event.target.checked)" /></div> -->
      <!-- <button (click)="reply(note)">Reply</button> -->
      <!-- <div><input type="checkbox" [checked]="note.isFinished" class="is-finished" (change)="changeIsFinished(note, $event.target.checked)" /></div> -->
      <button class="btn btn-raised" *ngIf="!note.isFinished" (click)="changeIsFinished(note, true)">Finish</button>
      <div class="is-done" *ngIf="note.isFinished">Done</div>
    </div>
  </div>
</div>
