<nav class="nav-header-oth">
  <div class="logo-cont">
    <a routerLink="/"><img src="/assets/images/logo_rose.svg" /></a>
  </div>
  <div class="toggle-cont">
    <span class="mdi mdi-menu sidebar-toggle" (click)="toggleSidebar()"></span>
  </div>
  <div class="page-title-cont">
    ADMIN {{title}}
  </div>
</nav>
